.footer{
    // display: none;

    .container{
        max-width: 1240px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        @media (max-width:1120px) {
            justify-content: space-between;
        }

        @media (max-width:900px) {
            flex-wrap: wrap;
            gap: 60px;    
            row-gap: 40px;
        }

        @media (max-width:870px) {
            justify-content: start;
        }
    }

    &-top {
        background-color: var(--bg-color-3);
        padding: 75px 0;  
        
        .container {
            display: flex;
            align-items: stretch;
            justify-content: space-between;
            gap: 70px;
            
            .line {
                width: 1px !important;
                background-color: #999;
            }
        }

    }


    &-bottom{
        background-color: #181616;
        padding: 20px 0;

        .container{
            max-width: 1360;
            @media (max-width:600px) {
                gap: 20px;
                flex-direction: column;

            }
        }

        &-icons{
            display: flex;
            gap: 18px;
        }

        p{
            // margin: 0 auto;
            @extend .text-sm;
            color: #999;
        
        }
    }
}

.col {

    h4 {
        @extend .text-base;
        color: var(--color-white);
        margin-bottom: 23px;
    }

    div {
        display: flex;
        flex-direction: column;
        gap: 15px;
    }

    a {
        display: flex;
        align-items: center;
        gap: 12px;
        @extend .text-sm;
        color: #999;
        transition: all 0.3s ease-in-out;

        &:hover {
            color: var(--text-color-1);

            &::before {
                background-color: var(--text-color-1);
            }
        }
    }

    &-1 {
        max-width: 230px;
        width: 100%;

        img {
            display: block;
            margin: 0 auto;
        }

        p {
            @extend .text-sm;
            color: #999;
            margin-top: 16px;
        }
    }

    &-2 {

        a::before {
            display: block;
            content: '';
            width: 5px;
            height: 5px;
            background-color: #999;
            transition: all 0.3s ease-in-out;
        }
    }

    &-4 {

        div {
            width: 200px;
            height: 110px;
            border-radius: 5px;
            overflow: hidden;

            iframe {
                width: 100%;
                height: 100%;
            }
        }
    }
}

