.restaurant-section{
   text-align: center;
   padding: 60px 0;

   .cards{
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(520px, 1fr));
      justify-content: space-between;

      gap: 30px;
      margin-top: 60px;

      @media (max-width:1110px) {
         max-width: 650px;
         margin: 0 auto;
         margin-top: 60px;
      }

      @media (max-width:600px) {
         grid-template-columns: 1fr;
      }
   }
}