:root {
    // colors
    --text-color-1: #E20D0D;
    
    --text-color-2: rgba(0, 0, 0, 0.6);
    --text-color-3: rgba(0, 0, 0, 0.70);
    
    --color-white: #FFF;
    --color-white-2: #F5F3F3;
    --color-white-3: #F6F6F6;

    --bg-color-1: #F5F3F3;
    --bg-color-2: rgba(248, 246, 246, 1);
    --bg-color-3: rgba(0, 0, 0, 0.83);
    --bg-color-4: rgba(226, 13, 13, 0.09);
    
    // border-radius
    --border-lg:  10px;

    
    
    // font family variable
    --font-primary: 'Montserrat', sans-serif; 
}

